@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-Regular.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/Montserrat-Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Rubik";
  src: url(/assets/fonts/Rubik-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Rubik";
  src: url(/assets/fonts/Rubik-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Rubik";
  src: url(/assets/fonts/Rubik-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url(/assets/fonts/Rubik-SemiBold.ttf);
  font-weight: 600;
}

.para {
  font: 300 16px "Rubik", serif;
  color: #191e27;
  font-size: 22px;
}

@media (max-width: calc(992px - 0.02px)) {
  .para {
    font-size: 20px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .para {
    font-size: 18px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .para {
    font-size: 16px;
  }
}

.main-title {
  font-family: "Montserrat", sans-serif;
  font-size: 72px;
  font-weight: 700;
  color: #16697a;
}

@media (max-width: calc(992px - 0.02px)) {
  .main-title {
    font-size: 64px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .main-title {
    font-size: 54px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .main-title {
    font-size: 48px;
  }
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 500;
  color: #16697a;
}

@media (max-width: calc(992px - 0.02px)) {
  .title {
    font-size: 62px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .title {
    font-size: 48px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .title {
    font-size: 46px;
  }
}

.sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: #16697a;
}

@media (max-width: calc(992px - 0.02px)) {
  .sub-title {
    font-size: 38px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .sub-title {
    font-size: 36px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .sub-title {
    font-size: 32px;
  }
}

.text_bold {
  font-family: "Rubik", serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  color: #16697a;
}

@media (max-width: calc(768px - 0.02px)) {
  .text_bold {
    font-size: 16px;
  }
}

.text {
  font-family: "Rubik", serif;
  font-size: 16px;
  font-weight: 300;
  color: #191e27;
}

@media (max-width: calc(768px - 0.02px)) {
  .text {
    font-size: 14px;
  }
}

.text_light {
  color: #ede7e3;
}

.text_dark {
  color: #16697a;
}

.text_link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Rubik", serif;
  font-size: 16px;
}

.text_ul {
  font-family: "Rubik", serif;
  font-size: 28px;
}

@media (max-width: calc(992px - 0.02px)) {
  .text_ul {
    font-size: 26px;
  }
}

@media (max-width: calc(768px - 0.02px)) {
  .text_ul {
    font-size: 24px;
  }
}

@media (max-width: calc(576px - 0.02px)) {
  .text_ul {
    font-size: 20px;
  }
}

.text_thin {
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
}

@media (max-width: calc(768px - 0.02px)) {
  .text_thin {
    font-size: 30px;
  }
}

@media (min-width: 0) and (max-width: calc(992px - 0.02px)) {
  .header_full {
    display: none;
  }
}

@media (min-width: 992px) {
  .header_mobile {
    display: none;
  }
}

.navbar-header {
  width: 100%;
  z-index: 200;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (min-width: 0) and (max-width: calc(992px - 0.02px)) {
  .navbar-header {
    background-color: #275763;
    padding: 15px 0;
  }
}

.navbar_background-color {
  background-color: #275763;
  color: #ede7e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar_margin-items {
  padding: 24px 24px 19px 24px;
}

.container_fullscreen {
  width: 100%;
  margin: 0 0 0 150px;
}

.navbar-nav {
  width: 100%;
}

.navbar-item_visual {
  padding: 0 0 5px 0;
  margin: 0 30px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 16px "Rubik", serif;
  color: #16697a;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: calc(992px - 0.02px)) {
  .navbar-item_visual {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar-item_visual:hover {
  color: #16697a;
  border-bottom: 2px solid #16697a;
}

.navbar-item_visual a {
  text-decoration: none;
  font: 300 16px "Rubik", serif;
  color: #ede7e3;
}

.navbar-item_visual-numbers {
  padding: 0 0 5px 0;
  margin: 0 30px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 16px "Rubik", serif;
  color: #16697a;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-item_visual-numbers a {
  text-decoration: none;
  font: 300 16px "Rubik", serif;
  color: #ede7e3;
}

.item-visual_mobile {
  padding: 0 0 5px 0;
  margin: 0 30px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 16px "Rubik", serif;
  color: #ede7e3;
}

.item-visual_mobile:hover {
  color: #ede7e3;
  border-bottom: 2px solid #ede7e3;
}

.navbar-item_numbers {
  padding: 0 0 5px 0;
  margin: 0 30px 0 0;
  text-decoration: none;
  text-transform: uppercase;
  font: 300 16px "Rubik", serif;
  color: #16697a;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: calc(992px - 0.02px)) {
  .navbar-item_numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.navbar-item_numbers .item-visual_tel-hover:hover {
  border-bottom: 2px solid transparent;
}

.navbar-item_numbers:hover {
  color: #16697a;
  border-bottom: 2px solid transparent;
}

.navbar-item_visual-scroll {
  color: #ede7e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navbar-item_visual-scroll:hover {
  color: #ede7e3;
  border-bottom: 2px solid #ede7e3;
}

.visual-no-hover_scroll {
  color: #ede7e3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.visual-no-hover_scroll:hover {
  color: #ede7e3;
  border-bottom: 2px solid transparent;
}

.navbar-item_margin-mobile {
  margin: 0 0 10px 0;
}

.navbar-toggler_visual:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.icon_custom {
  color: #ede7e3;
  font-size: 40px;
}

.icon_element-bar {
  background-color: #ede7e3;
  width: 30px;
  height: 3px;
  position: relative;
  display: block;
  margin: 5px auto;
}

.icon_element-bar:nth-child(2), .icon_element-bar:nth-child(3) {
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
          animation-timing-function: cubic-bezier(1, 0, 0, 1);
}

.icon_element-bar:nth-child(1) {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.icon.active .icon_element-bar:nth-child(2) {
  opacity: 0;
}

.icon.active .icon_element-bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

.icon.active .icon_element-bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

.footer__container {
  background-color: #16697a;
}

.footer_text {
  font-size: smaller;
}

/*.container_about_1 {
    margin-bottom: 50px;
    margin-top: 50px;
}*/
.bg-blue {
  background-color: rgba(130, 192, 204, 0.2);
  border-radius: 0px 0px 50px 0px;
  overflow: hidden;
  border-color: rgba(130, 192, 204, 0.2);
}

@media (max-width: calc(576px - 0.02px)) {
  .bg-blue {
    border-radius: 0px 0px 20px 0px;
  }
}

.card-text {
  color: #16697a;
  padding-left: 0px;
  padding-right: 0px;
}

.card-title {
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 20px;
}

.col-photo {
  height: auto;
}

.row {
  height: auto;
}

.photo-taya {
  width: 100%;
  height: auto;
  border-radius: 0px 0px 0px 50px;
  overflow: hidden;
}

@media (max-width: calc(576px - 0.02px)) {
  .photo-taya {
    border-radius: 0px 0px 0px 20px;
  }
}

.about-img {
  padding-left: 20px;
  margin-bottom: 20px;
}

.about-btn {
  border-radius: 50px;
  background-color: #FFA62B;
  margin-left: 20px;
  margin-top: 30px;
  padding: 10px 30px;
  text-decoration: none;
  color: #ffffff;
}

.card-text__item-animation {
  -webkit-animation: slide-right-enter 2s 1;
          animation: slide-right-enter 2s 1;
}

@-webkit-keyframes slide-right-enter {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

@keyframes slide-right-enter {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.buy {
  background-color: #ede7e3;
}

.buy__text {
  padding-top: 10%;
  padding-bottom: 10%;
}

.buy__header {
  margin-bottom: 1.25rem;
}

@media (max-width: calc(576px - 0.02px)) {
  .buy__header {
    text-align: center;
  }
}

.buy__description {
  text-align: left;
}

@media (max-width: calc(576px - 0.02px)) {
  .buy__description {
    text-align: center;
  }
}

.buy__picture img {
  width: auto;
  height: 31.25rem;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: calc(576px - 0.02px)) {
  .buy__picture img {
    border-radius: 20px;
  }
}

@media (min-width: 576px) and (max-width: calc(768px - 0.02px)) {
  .buy__picture img {
    margin: 0;
    margin-bottom: 10%;
  }
}

.education fluid-container {
  max-width: 100%;
}

.education-title__header {
  margin-top: 50px;
  margin-bottom: 50px;
}

.education-title__subtitle {
  margin-top: 30px;
  margin-bottom: 60px;
  color: #FFA62B;
}

.card-body {
  color: #16697a;
}

.card-footer {
  margin-bottom: 5px;
}

.main-page {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.main-page__title {
  color: #ede7e3;
}

.main-page__sub-title {
  color: #FFA62B;
  letter-spacing: 5px;
}

.main-page::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(30%, rgba(22, 105, 122, 0.5)), to(rgba(237, 231, 227, 0.9)));
  background: linear-gradient(0deg, rgba(22, 105, 122, 0.5) 30%, rgba(237, 231, 227, 0.9) 100%);
  z-index: -1;
}

.main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: auto;
  z-index: -2;
  padding: 0px;
}

@media (max-width: calc(768px - 0.02px)) {
  .main__video {
    display: none;
  }
}

.scroll_to-about {
  position: absolute;
  top: 90vh;
  z-index: 20;
  color: #ede7e3;
  text-decoration: none;
}

.scroll_to-about:hover {
  color: #ede7e3;
}

@media (max-width: calc(768px - 0.02px)) {
  .scroll_to-about {
    display: none;
  }
}

.button_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #16697a;
  height: 30px;
  width: 30px;
  -webkit-box-shadow: 0px 3px 10px 5px rgba(22, 105, 122, 0.4);
          box-shadow: 0px 3px 10px 5px rgba(22, 105, 122, 0.4);
}

.button_round:hover {
  -webkit-animation: 0.5s ease-out both wipe;
          animation: 0.5s ease-out both wipe;
}

@-webkit-keyframes wipe {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    color: #ede7e3;
  }
  100% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    color: #FFA62B;
  }
}

@keyframes wipe {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    color: #ede7e3;
  }
  100% {
    -webkit-transform: translateY(30%);
            transform: translateY(30%);
    color: #FFA62B;
  }
}

@-webkit-keyframes wipe-enter {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes wipe-enter {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.card-text__item-animation {
  -webkit-animation: 2s ease-out both wipe-enter;
          animation: 2s ease-out both wipe-enter;
}

.card-text__item-animation:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.card-text__item-animation:nth-child(2) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.card-text__item-animation:nth-child(3) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.card-text__item-animation:nth-child(4) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.card-text__item-animation:nth-child(5) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.positive_picture-container {
  margin: 30px 0 20px 0;
}

.card-positive {
  border: none;
}

.card-img-bottom {
  width: 100%;
  border-radius: 0 0 50px 50px;
  overflow: hidden;
}

@media (max-width: calc(576px - 0.02px)) {
  .card-img-bottom {
    border-radius: 0 0 20px 20px;
  }
}

.rent img {
  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: calc(576px - 0.02px)) {
  .rent img {
    border-radius: 20px;
  }
}

body {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 992px) {
  .rent-text__header {
    background: -webkit-gradient(linear, left top, right top, color-stop(70%, #ffffff00), color-stop(0, #ffffff00)), -webkit-gradient(linear, right top, left top, color-stop(70%, #ffffff00), color-stop(0, #FFA62B)), -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(0, #ffffff00)), -webkit-gradient(linear, right top, left top, color-stop(30%, transparent), color-stop(0, #ffffff00));
    background: linear-gradient(90deg, #ffffff00 70%, #ffffff00 0), linear-gradient(-90deg, #ffffff00 70%, #FFA62B 0), linear-gradient(90deg, transparent 30%, #ffffff00 0), linear-gradient(-90deg, transparent 30%, #ffffff00 0);
    background-repeat: no-repeat;
    background-size: 200% 51%;
    background-position: top left, bottom right;
    background-clip: text, text, padding-box, padding-box;
    -webkit-transition: 0.8s;
    transition: 0.8s;
  }
}

@media (min-width: 992px) {
  .rent-text__header:hover {
    background-position: top right, bottom left;
  }
}

.sell-img {
  border-radius: 50px;
  overflow: hidden;
}

@media (max-width: calc(576px - 0.02px)) {
  .sell-img {
    border-radius: 20px;
  }
}

.reasons-title {
  color: #FFA62B;
}

.reviews__header {
  text-align: left;
  margin-bottom: 20px;
}

#reviews {
  background-color: #ede7e3;
  position: relative;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0 auto;
}

@media (min-width: 0) {
  #carousel {
    width: 280px;
  }
}

@media (min-width: 768px) {
  #carousel {
    width: 515px;
  }
}

@media (min-width: 992px) {
  #carousel {
    width: 785px;
  }
}

@media (min-width: 1400px) {
  #carousel {
    width: 1050px;
  }
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #FFA62B;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  display: none;
}

@media (max-width: 1200px) {
  #prev {
    left: 10px;
  }
}

@media (min-width: 1200px) {
  #prev {
    left: 40px;
  }
}

#next {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  #next {
    right: 10px;
  }
}

@media (min-width: 1200px) {
  #next {
    right: 50px;
  }
}

#content {
  display: -ms-grid;
  display: grid;
  grid-gap: 15px;
  grid-auto-flow: column;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.item_reviews {
  width: 250px;
  background: #82C0CC;
  -o-object-fit: cover;
     object-fit: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
}

.item_reviews > img {
  max-width: 100%;
  display: inline-block;
}

@media (min-width: 768px) {
  .item_reviews img {
    width: 250px;
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .item_reviews img {
    width: 300px;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .mobile_reviews img {
    width: 300px;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 768px) {
  .mobile_reviews {
    width: 280px;
    max-height: 400px;
    background: #ede7e3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .high_screen_reviews {
    display: none;
  }
}

.container_about_2 {
  background-color: #EDDDE2;
}

.card_about_2 {
  max-width: 18rem;
  height: 15rem;
}

@media (max-width: calc(768px - 0.02px)) {
  .card_about_2 {
    max-width: 100%;
    height: 10rem;
  }
}

@media (min-width: 992px) and (max-width: calc(1200px - 0.02px)) {
  .card_about_2 {
    height: 20rem;
  }
}

@media (min-width: 320px) and (max-width: calc(576px - 0.02px)) {
  .card_about_2 {
    height: 13rem;
  }
}

@media (min-width: 0) and (max-width: calc(320px - 0.02px)) {
  .card_about_2 {
    height: 20rem;
  }
}

.text_about_2 {
  text-align: center;
  color: #191e27;
}

.text_about_2 {
  text-align: center;
  color: #191e27;
}

.container_picture {
  text-align: center;
}

.picture_about_2 {
  width: 100%;
}

@media (min-width: 768px) and (max-width: calc(992px - 0.02px)) {
  .picture_about_2 {
    margin-top: 2vh;
  }
}

.photo_taisiay {
  width: 100%;
}

@media (max-width: calc(992px - 0.02px)) {
  .photo_taisiay {
    padding-bottom: 3vh;
  }
}

.social {
  position: fixed;
  z-index: 20;
  right: calc(7vw - 20px * 4);
  margin: auto;
  top: calc(90vh - 20px - 5px);
}

@media (max-width: calc(992px - 0.02px)) {
  .social {
    right: calc(7vw - 20px * 2);
  }
}

.social__position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.social__position_elements {
  margin-right: calc(-20px * 2);
  padding-right: calc(20px * 2);
  height: calc(20px * 2 + 20px * 2);
}

.social-all {
  list-style-type: none;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  opacity: 0;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 25;
}

.transform-active {
  opacity: 1;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.btn-social {
  height: calc(20px * 2);
  width: calc(20px * 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ede7e3;
  border-radius: 50%;
  border: #ede7e3 1px solid;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  text-decoration: none;
}

.btn-social:hover {
  color: #ede7e3;
}

.btn-social_all {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
          box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  background-color: #FFA62B;
  width: calc(20px * 2);
  height: calc(20px * 2);
  margin: 20px;
  z-index: 30;
  -webkit-animation: 10s ease-in-out pulse infinite;
          animation: 10s ease-in-out pulse infinite;
}

.btn-social_all:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 166, 43, 0.3);
          box-shadow: 0px 0px 0px 10px rgba(255, 166, 43, 0.3);
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  }
  83.33% {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  }
  90% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 10px rgba(255, 166, 43, 0.3);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  }
  83.33% {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  }
  90% {
    -webkit-box-shadow: 0px 0px 0px 10px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 10px rgba(255, 166, 43, 0.3);
  }
  100% {
    -webkit-box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
            box-shadow: 0px 0px 0px 5px rgba(255, 166, 43, 0.3);
  }
}

.btn-social_viber {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(115, 96, 242, 0.3);
          box-shadow: 0px 0px 0px 5px rgba(115, 96, 242, 0.3);
  background-color: #7360f2;
}

.btn-social_viber:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(115, 96, 242, 0.3);
          box-shadow: 0px 0px 0px 10px rgba(115, 96, 242, 0.3);
}

.btn-social_whatsup {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(67, 216, 84, 0.3);
          box-shadow: 0px 0px 0px 5px rgba(67, 216, 84, 0.3);
  background-color: #43d854;
}

.btn-social_whatsup:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(67, 216, 84, 0.3);
          box-shadow: 0px 0px 0px 10px rgba(67, 216, 84, 0.3);
}

.btn-social_telegram {
  -webkit-box-shadow: 0px 0px 0px 5px rgba(0, 136, 204, 0.3);
          box-shadow: 0px 0px 0px 5px rgba(0, 136, 204, 0.3);
  background-color: #0088cc;
}

.btn-social_telegram:hover {
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0, 136, 204, 0.3);
          box-shadow: 0px 0px 0px 10px rgba(0, 136, 204, 0.3);
}
/*# sourceMappingURL=main.css.map */