.positive_picture {
  margin: 30px 0 81px 0;
}

.card-img-bottom {
  height: 516px;
}

.sell {
  max-width: 1439px;
  height: 919px;
}

.sell__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1320px;
  min-height: 857px;
  margin: 0px auto;
  background-image: url("/assets/img/sell_img/crimea_sell.jpg");
  background-repeat: no-repeat;
  background-size: 954px 673px;
  background-position: top left;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sell__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 810px;
  min-height: 742px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
}

.sell__body-item1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 169px;
  min-height: 192px;
  margin: 115px 0px 0px 0px;
  position: absolute;
}

.sell__body-picture {
  width: 100%;
}

.sell__body-item2 {
  background-color: #16697A;
  min-height: 615px;
  max-width: 810px;
  border-radius: 0 43px 0 43px;
  padding: 38px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.03em;
  text-align: left;
  margin: 242px 0px 0px 0px;
}
