.container_about_2 {
    background-image: linear-gradient(rgba($accent_color, 0.5), rgba($accent_color, 0.5)), url(/assets/img/about_2/Taisiya.jpg);
    background-position: top;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}

.card_about_2 {
    min-height: 35vh;
    background-color: $white;
    @include round-corner ($corner: lb_rb);
}

.text_about_2 {
    text-align: center;
    font-size: 22px;
    color: $black;
}

.col_2__about_2 {
    padding-top: 20%;

    @include media-max-width(md) {
        padding-top: 0;
    }
}