.container_about_2 {
    background-color: rgba($accent_color, 0.3);
}

.card_about_2 {
    min-height: 35vh;
    background-color: $white;
    @include round-corner ($corner: lb_rb);
}

.text_about_2 {
    text-align: center;
    font-size: 22px;
    color: $black;
}