.buy {
    background-color: $light;

    .title {

        @include media-max-width(md) {
            text-align: center;
        }


        @include media-max-width(sm) {
            text-align: center;
        }
    }

    &__text {
        text-align: left;

        @include media-max-width(sm) {
            text-align: center;
        }
    }


    &__picture {

        img {
            overflow: hidden;
            width: 700px;
            height: 500px;
            @include round-corner(all);
        }
    }
}