.education fluid-container {
    max-width: 100%;
}

.education-title__header {
    margin-top: 50px;
    margin-bottom: 50px;
}

.education-title__subtitle {
    margin-top: 30px;
    margin-bottom: 60px;
    color: $accent_color;
}

// .container education-card {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: $dark;
//     position: relative;
//     width: auto;
//     height: auto;
// }

.card-body {
    color: $dark;
}

.card-footer {
    margin-bottom: 5px;
}