.navbar {
    width: 100%;
    z-index: 1;
}

.container-fluid {
    width: 100%;
    margin: 0 0 0 247px;
}

.navbar-nav {
    width: 100%;
}



.navbar-item_visual {
    padding: 0 30px 0 0;
    text-decoration: none;
    text-transform: uppercase;
}