.header_full {
    @include media-between(xs, lg) {
        display: none;
    }
}


.header_mobile {
    @include media-min-width(lg) {
        display: none;
    }
}

.navbar-header {
    width: 100%;
    z-index: 200;
    background-color: rgba($light, $alpha: 0.95);

    @include media-between(xs, lg) {
        background-color: $light;
        padding: 15px 0;

    }

}

.navbar_margin-items {
    padding: 24px 24px 19px 24px
}

.container_fullscreen {
    width: 100%;
    margin: 0 0 0 200px;
}

.navbar-nav {
    width: 100%;
}

.navbar-item_visual {
    padding: 0 0 5px 0;
    margin: 0 30px 0 0;
    text-decoration: none;
    text-transform: uppercase;
    font: $para;
    color: $dark;
    border-bottom: 2px solid transparent;

    @include media-max-width(lg) {

        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    &:hover {
        color: $dark;
        border-bottom: 2px solid $dark;
    }

    a {
        text-decoration: none;
        font: $para;
        color: $dark;
    }
}

.navbar-item_margin-mobile {
    margin: 0 0 10px 0;

}

.item-visual_tel-hover:hover {
    border-bottom: 2px solid transparent;
}

.navbar-toggler_visual:focus {
    box-shadow: none;
}

.icon_custom {
    color: $dark;
    font-size: 40px;
}

.icon_element-bar {

    background-color: $dark;
    width: 30px;
    height: 3px;
    position: relative;
    display: block;
    margin: 5px auto;


    &:nth-child(2),
    &:nth-child(3) {
        transition: 0.7s;
        animation-timing-function: cubic-bezier(1, 0, 0, 1);
    }

    &:nth-child(1) {
        transition: 0.5s;
    }
}

.icon.active .icon_element-bar:nth-child(2) {
    opacity: 0;
}


.icon.active .icon_element-bar:nth-child(1) {

    transform: translateY(8px) rotate(45deg);

}


.icon.active .icon_element-bar:nth-child(3) {

    transform: translateY(-8px) rotate(-45deg);

}