.rent img {
    @include round-corner ($corner: all);
}

.rent-text__text {
    font-size: 26px;
}

body {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}