.rent-text__header {
    @media (min-width: map-get($grid-breakpoints, lg)) {
        background: linear-gradient(90deg, $light 70%, $light 0), linear-gradient(-90deg, $light 70%, $accent_color 0), linear-gradient(90deg, transparent 30%, $light 0), linear-gradient(-90deg, transparent 30%, $light 0);
        background-repeat: no-repeat;
        background-size: 200% 51%;
        background-position: top left, bottom right;
        -webkit-background-clip: text, text, padding-box, padding-box;
        background-clip: text, text, padding-box, padding-box;
        transition: 0.8s
    }
}

.rent-text__header:hover {
    @media (min-width: map-get($grid-breakpoints, lg)) {
        background-position: top right, bottom left;
    }
}

.rent {
    background-color: $light;
    margin-top: 30px;
    margin-bottom: 30px;
}

.rent img {
    @include round-corner ($corner: all);
}

.rent-text__accent {
    color: $accent_color;
    font-size: 24px;
    margin-bottom: 15px;
}