.sell-img {
    @include round-corner ($corner: all);
}

.reasons-title {
    color: $accent_color;
}

.sell__button {
    text-transform: uppercase;
    padding-left: 75px;
    padding-right: 75px;
}