.sell-img {
    @include round-corner ($corner: all);
}

.reasons-title {
    color: $accent_color;
}
.sell-btn {
    display: flex;
    justify-content: center;
    align-content: center;
    background: $accent_color;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}
.link-sell {
    text-decoration: none;
}
#right-btn {
    transform: translate(-50%, -50%);
    margin: 30px 0px 0px 140px;
}

#left-btn {
    margin: 30px 0px 0px 50px;
    transform: translate(50%, -50%);
}

#carousel_3 {
    width: 100%;
    max-height: 400px;
    z-index: 1;
}