$radius:20px;
$gutter-social:$radius;

$gutter-ab:7vw;

.social {
    position: fixed;

    z-index: 20;
    right: calc(#{$gutter-ab} - #{$radius} * 4);
    margin: auto;

    top: calc(90vh - #{$radius} - 5px);

    @include media-max-width(md) {
        display: none;
    }

    @include media-max-width(lg) {
        right:calc(#{$gutter-ab} - #{$radius} * 2);
    }
}

//need for correct animation
.social__position {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    overflow: hidden;
    flex-direction: row-reverse;
}

.social__position_elements {
    // margin-right:calc(-#{$radius} * 2);
    padding-right: $radius;
    height: calc(#{$radius} * 2 + #{$gutter-social} * 2);
}


.social-all {
    list-style-type: none;
    margin: 0px;

    display: flex;
    flex-direction: row;
    gap: $gutter-social;

    // opacity: 0;
    // transform-origin: right center;
    // transform: translateX(100%);
    // transition: 0.3s;
    z-index: 25;

}

.transform-active {

    opacity: 1;
    transform: translateX(0%);

}


.btn-social {

    height: calc(#{$radius} * 2);
    width: calc(#{$radius} * 2);

    display: flex;
    justify-content: center;
    align-items: center;

    color: $light;
    border-radius: 50%;
    border: $light 1px solid;
    transition: .2s ease-out;
    text-decoration: none;

    &:hover {
        color: $light;
    }

}

.btn-social_all {
    @include btn-social-color ($accent_color);
    width: calc(#{$radius} * 2);
    height: calc(#{$radius} * 2);
    margin: $gutter-social;
    z-index: 30;
    animation: 10s ease-in-out pulse infinite;
}

@keyframes pulse-viber {
    0% {

        box-shadow: 0px 0px 0px 5px rgba($color-social-viber, 0.3);
    }

    83.33% {
        box-shadow: 0px 0px 0px 5px rgba($color-social-viber, 0.3);
    }

    90% {
        box-shadow: 0px 0px 0px 10px rgba($color-social-viber, 0.3);
    }

    100% {
        box-shadow: 0px 0px 0px 5px rgba($color-social-viber, 0.3);
    }

}

@keyframes pulse-whatsup {
    0% {

        box-shadow: 0px 0px 0px 5px rgba($color-social-whatsup, 0.3);
    }

    83.33% {
        box-shadow: 0px 0px 0px 5px rgba($color-social-whatsup, 0.3);
    }

    90% {
        box-shadow: 0px 0px 0px 10px rgba($color-social-whatsup, 0.3);
    }

    100% {
        box-shadow: 0px 0px 0px 5px rgba($color-social-whatsup, 0.3);
    }

}

@keyframes pulse-telegram {
    0% {

        box-shadow: 0px 0px 0px 5px rgba($color-social-telegram, 0.3);
    }

    83.33% {
        box-shadow: 0px 0px 0px 5px rgba($color-social-telegram, 0.3);
    }

    90% {
        box-shadow: 0px 0px 0px 10px rgba($color-social-telegram, 0.3);
    }

    100% {
        box-shadow: 0px 0px 0px 5px rgba($color-social-telegram, 0.3);
    }

}

.btn-social_viber {
    @include btn-social-color ($color-social-viber);
    animation: 10s ease-in-out pulse-viber infinite;
    animation-delay: 3s;
}

.btn-social_whatsup {
    @include btn-social-color ($color-social-whatsup);
    animation: 10s ease-in-out pulse-whatsup infinite;
    animation-delay: 6s;
}

.btn-social_telegram {
    @include btn-social-color ($color-social-telegram);
    animation: 10s ease-in-out pulse-telegram infinite;
    animation-delay: 9s;
}