// Font 
$sub-title:300 42px "Montserrat",
sans-serif;
$para:300 16px "Rubik",
serif;
$title: 500 64px "Montserrat",
sans-serif;
$sub-title_mob: 400 40px "Montserrat",
sans-serif;
$para_mob:400 18px "Rubik",
serif;
$title_mob: 600 60px "Montserrat",
sans-serif;


.main-title {
    font: $title;
    color: $main_color;

    @include media-max-width(md) {
        font: $title_mob;
    }
}

.sub-title {
    font: $sub-title;
    color: $accent_color;

    @include media-max-width(md) {
        font: $sub-title_mob;
    }
}

.para {
    font: $para;
.text_bold {
    font-family: $text_font;
    font-size: 18px;
    font-weight: lighter;
    letter-spacing: 1px;

    color: $main_color;

    @include media-max-width(md) {

        font-size: 16px;
    }


}

//todo прописать тоненький шрифт
.text {
    font-family: $text_font;
    font-size: 16px;
    font-weight: lighter;
    letter-spacing: 1px;

    color: $main_color;

    @include media-max-width(md) {

        font-size: 14px;
    }
}

.text_light {
    color: $light;
}

.text_dark {
    color: $dark;

    @include media-max-width(md) {
        font: $para-mob;
    }
}