// colors
$light: #ede7e3;
$dark: #16697a;
$bright: #82C0CC;
$accent_color: #FFA62B;
$main_color:#489fb5;
//viewport
$mobile:375px;
$tablet:768px;
$big-tablet:1025px;
$desktop:1280px;
$large-desktop:1560px;
//margin
$pc:60px 135px 60px 135px;