// colors
$light: #ede7e3;
$dark: #16697a;
$bright: #82C0CC;
$accent_color: #FFA62B;
$main_color:#489fb5;


// These breakpoints are taken from bootstrap 
// for use it you can write  map-get($grid-breakpoints, md)
//ex:  @media (max-width:map-get($grid-breakpoints, md))

$grid-breakpoints: (xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px);